.toppagebody {
  padding-top: 25px;
  background: #FFFFFF url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/content/wrap_bg.png) repeat-x left -120px;
  text-align: left;
}

.search-block {
  margin-left: 10px;
}
.search-input-block {
  display: flex;
}
.search-input-text {
  position: relative;
  border: 1px solid #BBBBBB;
  width: 400px;
  height: 30px;
}
.search-submit {
  display: block;
  width: 50px;
  height: 30px;
  margin: 0;
  background-color: #34539A;
  border-color: #34539A;
  color: #fff;
  box-shadow:none;
}

.search-link-block {
  flex-wrap: wrap;
}
.search-link {
  margin-left: 10px;
  font-size: 13px;
}

/** いざという時 */
.emergency {
  background: #ede50e;
  border-radius: 30px;
  padding: 4px 0 4px 15px;
  color: #746a42;
  margin-top: 15px;
  width: 950px;
}

.emergency-title {
  float: left;
  color: #655D40;
  background: url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/emer_h2.gif)no-repeat 0 50%;
  padding: 2px 0 0 58px;
  min-height: 30px;
  font-weight: bold;
  font-size: 100%;
  margin-top: 2px;
}
.emergency-title-text {
  display: block;
  font-size: 80%;
}

.emergency-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
}
.emergency-li {
  float: left;
  background: #fff;
  text-align: center;
  width: 120px;
  padding: 15px 8px;
  border-left: 1px solid #dadada;
}
.emergency-link {
  color: #746a42;
  text-decoration: none;
  height: 20px;
  font-size: 13px;
}

/** よく見るページ */
.frequently-view-block {
  margin: 30px 0 0 10px;
  width: 950px;
}

.frequently-view-title {
  font-size: 18px;
}
.frequently-view-list {
  display: flex;
}
.frequently-view-link {
  display: block;
  min-width: 200px;
  height: 20px;
  background:#D7EEF4;
  border-radius:30px;
  padding: 3px 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  text-align: center;
}

/** 最新情報 */
.new-infomartion-block {
  margin: 30px 0 0 10px;
  width: 950px;
}
.new-infomartion-title {
  font-size: 18px;
}
.new-infomartion-tab {
  border-bottom: 0.6rem solid #52886A;
}
.new-infomartion-tab-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.new-infomartion-tab-item:first-child {
  background-color: #52886A;
  color: #fff;
}
.new-infomartion-tab-item {
  display: block;
  text-decoration: none;
  border-right: 1px solid #fff;
  background-color: #F0F0F0;
  padding: 7px 5px 3px 5px;
  width: 150px;
  height: 30px;
  text-align: center;
}
.new-infomartion-tab-item:after {
  position: absolute;
  top: 50%;
  right: 1.8rem;
  margin-top: 0.2rem;
  font-family: icon;
  font-size: 1.4rem;
  font-weight: 400;
  transform: translateY(-50%);
}

.new-infomartion-tab-item:first-child .new-infomartion-tab-href {
  color: #fff;
}
.new-infomartion-tab-href {
  color: #000;
}

.new-infomartion-body {
  border: 3px solid #52886A;
}
.new-infomartion-list {
  padding: 0;
  margin: 0;
}
.new-infomartion-item {
  list-style:none;
  background: url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/mark_topics.png) no-repeat left 4px;
  padding: 0px 0px 10px 18px;
  margin: 10px 0px 0px 0px;
  border-bottom: 1px dotted #aaaaaa;
}

.new-infomartion-link-block {
  display: flex;
  margin-top: 10px;
}
.new-infomartion-link {
  margin-left: 10px;
  font-size: 13px;
}

/** 探す */
.search-block {
  display: flex;
  width: 950px;
}

/** 手続き */
.procedure-block {
  margin: 30px 0px 20px 0px;
  width: 50%;
}
.procedure-title {
  padding: 12px 5px 9px 30px;
  font-size: 120%;
  margin: 0;
  background: #FFF url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/lifescene.gif) no-repeat left top;
}
.procedure-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-left: 3px solid #7C96AF;
  border-bottom: 3px solid #7C96AF;
  border-right: 3px solid #7C96AF;
  padding: 10px 15px 10px 15px;
  width: 409px;
  margin: 0;
}
.procedure-item {
  margin: 5px 6px 5px 6px;
  width: 90px;
  text-align: center;
}

/** くらしの情報 */
.life-block {
  margin: 30px 0px 20px 0px;
  width: 50%;
}
.life-title {
  padding: 12px 5px 9px 30px;
  font-size: 120%;
  margin: 0;
  background: #FFF url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/kurashi.gif) no-repeat left top;
}
.life-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-left: 3px solid #DACFAC;
  border-bottom: 3px solid #DACFAC;
  border-right: 3px solid #DACFAC;
  padding: 10px 15px 10px 15px;
  width: 409px;
  margin: 0;
}
.life-item {
  padding: 5px 5px 5px 20px;
  width: 175px;
  display: block;
  background: url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/mark_kurashi.gif) no-repeat left 8px;
  line-height: 1.5;
}
.life-href {
  font-size: 13px;
}

/** その他情報 */
.information-block {
  display: flex;
  width: 950px;
}
.information-left-block {
  width: 675px;
}
.information-right-block {
  width: 275px;
}

/** 行政情報 */
.government-block {
  margin: 30px 0 0 10px;
  background: #ffe8eb;
  padding: 10px;
  width: 600px;
}
.government-title {
  font-size: 18px;
  margin: 0;
}
.government-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 10px 10px 15px;
  background: #fff;
}
.government-item {
  text-decoration: none;
  height: 55px;
  margin: 10px 10px 0 0;
}

/** 案内　*/
.guidance-block {
  display: flex;
  flex-wrap: wrap;
  background: #e6f1f5;
  margin: 30px 0 0 10px;
  padding: 10px;
  width: 600px;
}
.guidance-article-block {
  width: 200px;
  margin: 0 0 15px 0;
}
.guidance-article-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.guidance-article-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.guidance-article-href {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}

/** イベント */
.event-block {
  margin: 30px 0px 20px 0px;
  padding: 6px;
  background: url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/event_bg.gif);
}
.event-title {
  padding: 7px 5px 6px 30px;
  color: #FFFFFF;
  font-size: 110%;
  background: #333300 url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/top/event_h2.gif) no-repeat 10px 12px;
  border: 1px solid #FFFFFF;
  margin: 0;
}
.eventtoday {
  padding: 5px;
  background: #FFFFFF;
}
.eventtoday-title {
  margin: 0 0 5px 0;
  padding: 4px 5px 2px 8px;
  clear: both;
  color: #333300;
  font-size: 100%;
  background: #E9E9E4;
  border-top: 1px dotted #A5A58F;
}
.toptodayevent-list {
  margin: 0px 3px 8px 8px;
  list-style-type: none;
  padding: 0;
}
.toptodayevent-item {
  margin: 0px 0px 5px 0px;
  font-size: 95%;
}
.toptodayevent-icon {
  margin: 0px 3px 0px 0px;
  vertical-align: middle;
}
.toptodayevent-href {
  font-size: 13px;
}
.event-calendar {
  margin: 0px 5px 0px 5px;
  padding-top: 3px;
  border-top: 1px dotted #A5A58F;
  text-align: right;
}
.event-calendar-href {
  padding-left: 15px;
  background: url(https://www.city.nagareyama.chiba.jp/_template_/_site_/_default_/_res/asp/images/content/mark_list.png) no-repeat left 4px;
  font-size: 13px;
}

/** 外部リンク */
.external-link-block {
  margin: 10px 0px 0px 0px;
  padding: 0;
}
.external-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.external-link-item {
  margin: 0 0 4px 0;
}